/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

html {
  height: 100%;
}

#firstSet {
  padding-top: 160px;
}

.middleFieldsets {
  padding-top: 100px;
}

#fifthSet {
  padding-top: 200px;
}

.container {
  width: 1140px;
}

.jumbotron {
  background: no-repeat center center fixed url(../images/background.png);
  -webkit-background-size: cover;
  background-size: cover;
  height: 800px;
  padding: 0;
}

/*mutistepform styles*/
.msform {
  width: 720px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.msform fieldset {
  background-color: transparent;
  width: 720px;
  height: 587px;
  /*padding: 20px 30px;*/
  margin: 0 auto;
  /*fieldset one over another, important!!*/
  position: relative;
  /*left: 5%;*/
}

/*Hide all except first fieldset*/
.msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
.msform .inputField, #inputQuestion, .msform .inputDropdown {
  width: 400px;
  height: 50px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #2C3E50;
  outline: none;
  object-fit: contain;
  font-family: GothamPro;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 20px;
  padding-left: 20px;
  opacity: 0.97;
}

.msform .inputDropdown {
  z-index: 3000;
  right: 20px;
}

#inputQuestion {
  width: 720px;
  height: 60px;
}

.jsonFilter {
  width: 125px;
  height: 50px;
  /*margin: 5px;*/
  border-radius: 3px;
  background-color: #ffffff;
  object-fit: contain;
  font-family: GothamPro;
  font-size: 18px;
  line-height: 1.4;
}

.msform #inputQuestion {
  background: white url("../images/logo-letter.png") no-repeat 10px 10px !important;
  padding-left: 65px !important;
}

.msform .action-button {
  width: 171px;
  height: 47px;
  background: rgb(64, 64, 64);
  font-family: GothamPro-Bold;
  font-size: 14px;
  border: 0 none;
  border-radius: 40px;
  padding: 10px 5px;
  margin: 10px 5px;
  outline: none;
  margin-top: 25px;
  color: #ffffff;
  text-align: center;
}

.msform .sent, .msform .next, .msform .formValidation {
  background: rgb(135, 201, 63);
  position: relative;
}

.msform .previous {
  position: relative;
  right: 22px;
  border: solid 2px #ffffff;
  background: transparent;
}

.msform .next, .msform .formValidation {
  left: 22px;
}

.buttonCategory {
  bottom: 60px;
}

.middleFieldsets {
  /*top:-100px;*/
}

.navbar {
  height: 80px;
  padding-top: 20px;
}

.navbar #navbarLeft {
  margin-left: 44px;
  margin-top: 5px;
}

#navbarRight {
  float: right;
  margin-right: 20px;
}

#navbarRight li.nav-item a {
  width: 180px;
  height: 51px;
  opacity: 0.8;
  font-size: 14px;
  line-height: 3.6;
  color: #ffffff;
  padding-left: 100px;
  font-family: GothamPro;
}

#navbarRight li.nav-item a:hover {
  font-family: GothamPro-Bold;
  opacity: 1;
}

.msform .continue {
  width: 230px;
  height: 60px;
  opacity: 0.97;
  background-color: #83b442;
  font-family: GothamPro-Bold;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  margin-top: 10px;
  padding: 21px;
  text-align: center;
}

.titleText {
  width: 600px;
  height: 159px;
  /*position: relative;*/
  /*margin-top: 233px;*/
  /*font-size: 51px;*/
  /*line-height: 1.0;*/
  margin-bottom: 35px;
}

.titleText h1 {
  font-size: 51px;
  font-family: GothamPro-Light;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}

.titleText span h1 {
  width: 841px;
  height: 106px;
  font-size: 51px;
  font-family: GothamPro-Light;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin-left: -130px;
  margin-bottom: 0;
}

.titleText h1 span {
  font-family: GothamPro-Bold;
}

.titleText h3 {
  font-family: GothamPro-Medium;
  font-size: 20px;
  line-height: 1.3;
  color: #ffffff;
  margin-top: -25px;
}

.titleText h4 {
  font-family: GothamPro-Medium;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}

.titleText span h1 {
  width: 841px;
  height: 106px;
  font-family: GothamPro-Light;
  line-height: 1.0;
}

.titleText h1 span {
  font-family: GothamPro-Bold;
}

.testimonials {
  padding: 100px;
}

.testimonials h1 {
  padding-top: 24px;
  width: 389px;
  height: 53px;
  opacity: 0.6;
  font-family: GothamPro-Light;
  font-size: 40px;
  line-height: 1.3;
  color: #000000;
}

.testimonials p {
  padding-top: 16px;
  width: 317px;
  height: 38px;
  opacity: 0.2;
  font-family: GothamPro-Medium;
  font-size: 14px;
  line-height: 1.3;
  color: #000000;
  position: relative;
}

.testimonials .textContainer {
  padding: 32px 32px 32px 38px;
  margin: 60px 0 0 -15px;
  width: 495px;
  height: 209px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
}

.textContainer h2 {
  width: 62px;
  height: 26px;
  font-family: GothamPro-Medium;
  font-size: 18px;
  line-height: 1.4;
  color: #747474;
}

.textContainer h3 {
  width: 123px;
  height: 26px;
  opacity: 0.3;
  font-family: GothamPro-Medium;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #747474;
  margin-top: -12px;
}

.textContainer p {
  width: 478px;
  height: 52px;
  font-family: GothamPro-Italic;
  font-size: 18px;
  line-height: 1.4;
  color: #747474;
  opacity: 1;
  margin-top: -10px;
  object-fit: contain;
}

#firstImgContainer {
  width: 335px;
  height: 395px;
  position: absolute;
  left: 58%;
  margin-top: -160px;
  visibility: visible;
}

#secondImgContainer, #thirdImgContainer, #fourthImgContainer, #fifthImgContainer {
  width: 335px;
  height: 395px;
  position: absolute;
  left: 58%;
  margin-top: -160px;
  visibility: hidden;
}

.imageContainer1 {
  width: 335px;
  height: 395px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 2;
}

.imageContainer2 {
  width: 335px;
  height: 395px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  bottom: 530px;
  left: 50%;
  z-index: 1;
}

#bul1 {
  background-color: rgba(0, 0, 0, 0.5);
}

.textContainer a {
  display: block;
  float: left;
  padding: 10px 10px 0 0;
}

.titleText a {
  display: inline-block;
  padding: 0;
}

a .bullet:hover, a .bullet:active, a .bullet:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

a .bullet:hover {
  cursor: pointer;
}

a .catBullet:hover, a .catBullet:active, a .catBullet:focus {
  background-color: rgba(0, 0, 0, 0);
}

a .catBullet:hover {
  cursor: pointer;
}

#email {
  bottom: 30px;
}

.msform #thirdSet p {
  color: #ffffff;
  position: relative;
  text-align: left;
  margin: -15px 0 -10px 0;
  left: 175px;
  animation-name: downP;
  animation-duration: 1s;
  font-size: 14px;
  font-family: GothamPro;
}

.catBullet {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #ffffff;
  opacity: 0.3;
  margin-bottom: 20px;
  object-fit: contain;
}

.bullet {
  width: 9px;
  height: 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #d8d8d8;
  margin-top: 20px;
  object-fit: contain;
}

.imageContainer1 img {
  position: relative;
  padding: 30px 62px 9px 72px;
}

.imageContainer2 img {
  position: relative;
  padding: 0 8px 0 5px;
}

.imageContainer1 h2, .imageContainer2 h2 {
  width: 238px;
  height: 26px;
  font-family: GothamPro-Medium;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
  color: #747474;
  padding-left: 32px;
}

.imageContainer1 p, .imageContainer2 p {
  width: 303px;
  height: 40px;
  opacity: 0.6;
  font-family: GothamPro;
  font-size: 14px;
  line-height: 1.4;
  color: #747474;
  margin-top: 9px;
  padding-left: 32px;
}

.ovalShadow {
  position: relative;
  margin: 9px 77px 25px 73px;
  width: 186px;
  height: 22px;
  opacity: 0.05;
  background-image: radial-gradient(circle at 50% 50%, #000000, rgba(0, 0, 0, 0));
}

#carsDropdown {
  visibility: hidden;
}

#carsDropdown select {
  margin: 0;
  padding: 0;
}

select {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.categoryBulletsSecond {
  padding-top: 20px;
}

.categoryBulletsThird{
  padding-top: 10px;
}
/*#selectBox{*/
/*width: 400px !important;*/
/*height: 50px !important;*/
/*opacity: 0.97;*/
/*background-color: #ffffff;*/
/*border-style: none;*/
/*border-radius: 3px;*/
/*box-sizing: border-box;*/
/*color: #2C3E50;*/
/*outline: none;*/
/*object-fit: contain;*/
/*font-family: GothamPro;*/
/*font-size: 18px;*/
/*line-height: 1.4;*/
/*margin-bottom: 20px;*/
/*padding-left: 20px;*/
/*}*/

@media (max-width: 767px) {
  .navbar {
    margin-top: 20px;
    left: 0;
    width: 100%;
  }

  .navbar .nav > li {
    height: 60px;
  }

  .navbar .nav > li a {
    height: 60px;
    text-align: left;
  }

  .nav-item {
    margin-left: 0;
  }
}

@-webkit-keyframes downButtons {
  0% {
    bottom: 60px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes downButtons {
  0% {
    bottom: 60px;
  }
  100% {
    bottom: 0;
  }
}

@-webkit-keyframes upButtons {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 60px;
  }
}

@keyframes upButtons {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 60px;
  }
}

@-webkit-keyframes downP {
  0% {
    top: -10px;
    opacity: 0
  }
  100% {
    top: 0;
    opacity: 1
  }
}

@keyframes downP {
  0% {
    top: -10px;
    opacity: 0
  }
  100% {
    top: 0;
    opacity: 1
  }
}

.buttonAnimUp {
  -webkit-animation-name: upButtons; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-name: upButtons;
  animation-duration: 1s;
}

.buttonAnimDown {
  -webkit-animation-name: downButtons; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-name: downButtons;
  animation-duration: 1s;
  bottom: 0;
}

/* OVO */
.dropdown-menu {
  position: relative;
}

/*.spinner {*/
/*margin: 200px auto;*/
/*right: 350px;*/
/*top: 335px;*/
/*width: 70px;*/
/*text-align: center;*/
/*position: absolute;*/
/*visibility: hidden;*/
/*}*/

/*.spinner > div {*/
/*width: 18px;*/
/*height: 18px;*/
/*background-color: #ffffff;*/

/*border-radius: 100%;*/
/*display: inline-block;*/
/*-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;*/
/*animation: sk-bouncedelay 1.4s infinite ease-in-out both;*/
/*}*/

/*.spinner .bounce1 {*/
/*-webkit-animation-delay: -0.32s;*/
/*animation-delay: -0.32s;*/
/*}*/

/*.spinner .bounce2 {*/
/*-webkit-animation-delay: -0.16s;*/
/*animation-delay: -0.16s;*/
/*}*/

/*@-webkit-keyframes sk-bouncedelay {*/
/*0%, 80%, 100% { -webkit-transform: scale(0) }*/
/*40% { -webkit-transform: scale(1.0) }*/
/*}*/

/*@keyframes sk-bouncedelay {*/
/*0%, 80%, 100% {*/
/*-webkit-transform: scale(0);*/
/*transform: scale(0);*/
/*} 40% {*/
/*-webkit-transform: scale(1.0);*/
/*transform: scale(1.0);*/
/*}*/
/*}*/

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamPro.eot?') format('eot'),
  url('../fonts/GothamPro/GothamPro.otf') format('opentype'),
  url('../fonts/GothamPro/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro/GothamPro.ttf') format('truetype'),
  url('../fonts/GothamPro/GothamPro.svg#GothamPro') format('svg');
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('../fonts/GothamPro-Light/GothamPro-Light.eot?') format('eot'),
  url('../fonts/GothamPro-Light/GothamPro-Light.otf') format('opentype'),
  url('../fonts/GothamPro-Light/GothamPro-Light.woff') format('woff'),
  url('../fonts/GothamPro-Light/GothamPro-Light.ttf') format('truetype'),
  url('../fonts/GothamPro-Light/GothamPro-Light.svg#GothamPro-Light') format('svg');
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url('../fonts/GothamPro-Medium/GothamPro-Medium.eot?') format('eot'),
  url('../fonts/GothamPro-Medium/GothamPro-Medium.otf') format('opentype'),
  url('../fonts/GothamPro-Medium/GothamPro-Medium.woff') format('woff'),
  url('../fonts/GothamPro-Medium/GothamPro-Medium.ttf') format('truetype'),
  url('../fonts/GothamPro-Medium/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'),
  url('../fonts/GothamPro-Bold/GothamPro-Bold.otf') format('opentype'),
  url('../fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype'),
  url('../fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
}

/*media q - 320  480  767  768 992 1200 */